.si-emulator {
  width: 100vw;
  height: 100vh;
}

.screen-panel {
  width: 100%;
  height: 80%;
  grid: 1fr / 1fr;
  display: grid;
  align-items: center;
  justify-items: center;

  img {
    z-index: 0;
    object-fit: contain;
    grid-row-start: 1;
    grid-column-start: 1;
  }

  canvas {
    object-fit: contain;
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
  }


  //div {
  //  background-color: black;
  //  height: 100%;
  //  width: 100%;
  //  //position: absolute;
  //  position: relative;
  //  z-index: 0;
  //}
}

.control-panel {
  width: 100%;
  height: 20%;
}
