.title {
  h1 {
    text-align: center;
  }
}

.demo-screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  img {
    object-fit: contain;

    height: 100%;
    //width: 80%;

    max-width: 70vw;
    max-height: 70vh;
  }

  .img-game {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  .img-bg {
    position: relative;
    z-index: 0;
    border-radius: 1rem;
    border: 0.1rem solid #fff;
  }
}

.screen-mode-controller {
  margin-top: 2rem;

  .selector-button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 5rem;
    }

    select {
      width: 15rem;
      text-align: center;
    }
  }
}

.start-panel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 10rem;

    color: #282c34;
    background-color: #fff;

    border: 0.1rem solid #fff;
    border-radius: 0.625rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #282c34;
      color: #fff;
    }
  }
}

.rom-and-settings {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .load-rom-panel {
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }
  }

  .select-options {
    width: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column-reverse;
    }

    input {
      width: 50%;
      text-align: center;
    }
  }

  @media (max-width: 900px) {
    flex-flow: column;

    .load-rom-panel {
      width: 100%;
      margin: 10px 0;
    }

    .select-options {
      width: 100%;
      margin: 10px 0;
    }
  }

  @media (max-width: 600px) {
    .load-rom-panel {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }

    .select-options {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
}
