.setup-panel {
  width: 100vw;
  height: 100vh;

  .title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
    }
  }

  .screen-mode-panel {
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;

    .img-demo {
      height: 80%;
      width: 95%;

      img {
        position: absolute;
        height: 60%;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
      }

      .img-demo {
        z-index: 2;
      }

      .img-bg {
        z-index: 1;
        border-radius: 0.625rem;
        border: 0.3125rem solid #fff;
      }
    }

    .control-mode {
      height: 20%;

      select {
        height: 60%;
      }

      div {
        height: 20%;
      }
    }
  }

  .load-rom-panel {
    // Grid 2x2 for input roms and button at the bottom
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;

    button {
      color: #fff;
      background-color: #282c34;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #fff;
        color: #282c34;
      }
    }
  }
}


