.video-game-button {
  font-family: 'Press Start 2p';

  text-shadow: 0.0625rem 0.0625rem pink, -0.0625rem -0.0625rem maroon;

  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 1.5rem;
  -webkit-border-radius: .75rem;
  -moz-border-radius: .75rem;
  -o-border-radius: .75rem;
  border-radius: .75rem;
  background-color: red;
  -webkit-box-shadow: 0 .2rem maroon;
  -moz-box-shadow: 0 .2rem maroon;
  -o-box-shadow: 0 .2rem maroon;
  box-shadow: 0 .2rem maroon;
  color: red;
  margin: 0.3125rem;
  background-color: red;
  background-image: -o-linear-gradient(to right bottom, pink 3%, red 22%, maroon 99%);
  background-image: -moz-linear-gradient(to right bottom, pink 3%, red 22%, maroon 99%);
  background-image: -webkit-linear-gradient(to right bottom, pink 3%, red 22%, maroon 99%);
  background-image: linear-gradient(to right bottom, pink 3%, red 22%, maroon 99%);
  cursor: pointer;
  padding-left: 0.3125rem;
}

.video-game-button:active {
  box-shadow: none;
  position: relative;
  top: .2rem;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}
