.selector-button-btn {

  //font-size: 20pt;
  font-family: "Press Start 2p";
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  //background-color: lightgray;
  text-shadow: -0.0625rem -0.0625rem black, 0.0625rem 0.0625rem white;
  color: gray;
  border-radius: 0.4375rem;
  //box-shadow: 0 0.2em gray;
  cursor: pointer;
  box-shadow: 0 0.2em gray;

  &:active {
    box-shadow: none;
    position: relative;
    top: .2em;
  }
}

.selector-button-select {
  text-align: center;
  //font-size: 20pt;
  font-family: 'Press Start 2p';
  width: 20rem;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  background-color: lightgray;
  text-shadow: -0.0625rem -0.0625rem black, 0.0625rem 0.0625rem white;
  color: gray;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
  border-radius: 0.4375rem;
  box-shadow: 0 .2em gray;
  cursor: pointer;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}

.selector-button-btn, .selector-button-select {
  @media (max-width: 768px) {
    //font-size: 16pt;
  }

  @media (max-width: 576px) {
    //font-size: 12pt;
  }

  @media (max-width: 320px) {
    //font-size: 10pt;
  }

  @media (max-width: 285px) {
    //font-size: 8pt;
  }
}
