.selector-button-btn {

  font-size: 20pt;
  font-family: "Press Start 2p";
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  //background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  border-radius: 7px;
  //box-shadow: 0 0.2em gray;
  cursor: pointer;
}

.selector-button-select {
  font-size: 20pt;
  font-family: 'Press Start 2p';
  width: 20rem;

  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray;
  cursor: pointer;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2em;
}

