.start-btn {
  font-family: 'Press Start 2p';

  text-align: center;
  display: inline-block;
  font-weight: bold;
  background-color: lightgray;
  text-shadow: -0.0625rem -0.0625rem black, 0.0625rem 0.0625rem white;
  color: gray;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
  border-radius: 0.4375rem;
  box-shadow: 0 .2rem gray;
  cursor: pointer;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: .2rem;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}
