.html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.canvas-webgl {
    /*width: 100%;*/
    /*height: 100%;*/
    /*aspect-ratio: 1/1;*/

    rotate: -90deg;
    transform: ScaleY(-1);
}
